h1 {
  display: none;
}

.card {
  display: flex;
  --boards: 16; /* will be changed by JS, based on number of items */
  --dimension: calc(var(--boards) * 3px);
  --width: calc(var(--dimension) / var(--boards));
  transform-style: preserve-3d;
  transform: rotateY(var(--angle, -42deg)) rotateX(var(--angle-x));
  --angle-x: 0.25deg;

  list-style: none;
}

li {
  height: var(--dimension);
  width: var(--width);
  position: relative;

  transform-style: preserve-3d;
}

li::before,
li::after {
  background-repeat: no-repeat;
  background-size: var(--dimension) var(--dimension);
  background-position: calc(var(--offset-x, 0) * var(--dimension)) center;

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transform: rotateY(calc(60deg * var(--direction, -1)));
  transform-origin: var(--origin-x, 100%) 50% 0px;
}

li::before {
  /* desert scene */
  background-image: url(/assets//aqua.png);
}
li::after {
  /* Skyline and Homes */
  background-image: url(/assets//suisei.png);
  --direction: 1;
  --origin-x: 0%;
}

body {
  perspective: 1200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 520px) {
  .card {
    --dimension: calc(var(--boards) * 2px);
  }
}
